
.Row
{
  overflow: hidden;
}
.Grocerie
{
  width: 30%;
  float: left;
margin: 0 10%;
}
.Basket
{
  float: left;
  width: 30%;
  margin: 0 10%;
}

h3{
  padding-left: 40px;
}
.delete
{
  float: right;
  color: red;
  opacity: 0.3;
}
.delete:hover
{
  opacity: 1;
}


nav
{
  border: 1px solid red;
  margin-left: 21%;
  background-color: pink;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}