.bItem
{
  
  
    list-style: none;
    margin: 7px 0;
    padding: 10px;
  
}
.bItem:nth-child(even) {
    background-color: #f2f2f2;
  }

  .bItem:nth-child(odd) {
    background-color: rgb(245, 234, 234);
  }

.minus-icon
{
    color: white;
    margin-right: 12px;
}
.bItem:hover svg{
    color: red;
}
.strike
{
  text-decoration:line-through;
}