.footer
{
    height: 150px;
    background-color: #222;
    margin: 20px 0 0;
   display: flex;
   justify-content: center;
}

.footer a{
    color: white;
}

.footer-text
{
    text-align: center;
    margin-top: 60px;
    color: white;
}