
  .plus-icon
  {
    color:white;
    margin-right: 12px;
  }

  .gItem
{

  list-style: none;
  margin: 7px 0;
  padding: 10px;
}
.gItem:nth-child(even) {
    background-color: #f2f2f2;
  }

  .gItem:nth-child(odd) {
    background-color: rgb(245, 234, 234);
  }
  .gItem:hover svg{
    color: darkgreen;

  }